<div>
  <h1>
    Aprendendo Angular
  </h1>
  <h2>To-Do List</h2>

  <ul>

      <span *ngFor="let item of items; let i = index">

        <span *ngIf="estaEditando == i">
          <input type="text"  name="a{{i}}" id="a{{i}}"
                 (change)="editar($event, i)"
                 value="{{item}}"
                 (keydown.enter)="limpaEdit($event, i)" >
        </span>
        <span *ngIf="estaEditando != i">
          <li>{{item}}
            <button (click)="removeTarefa(item)">Remover</button>
          <button (click)="editTarefa(i)">Edição</button></li>
        </span>

      </span>

  </ul>

  <input type="text" [(ngModel)]="tarefa">
  <button (click)="addTarefa()">Adicionar</button>

</div>
